---

---

<select name="themeSelector" id="themeSelector">
  <option value="default">Default</option>
  <option value="mfwebsite">MF Website</option>
</select>

<script>
  const handleThemeSelectorChanged = (event: Event) => {
    const theme = (event.target as HTMLSelectElement).value;
    console.log(`${theme} selected.`);

    localStorage.setItem("theme", theme);
    window.updateTheme(theme);
  };

  document
    .getElementById("themeSelector")
    ?.addEventListener("change", handleThemeSelectorChanged);
</script>
